.header__logo {
  width: 142px;
  height: 33px;
  padding-bottom: 41px;
}

@media screen and (max-width: 1024px) {
  .header__logo {
    padding-left: 27px;
  }
}

@media screen and (max-width: 320px) {
  .header__logo {
    width: 104px;
    height: 25px;
    padding-bottom: 31px;
  }
}
