.profile__container {
  margin: 0;
  padding: 0;
  display: flex;
}

@media screen and (max-width: 768px) {
  .profile__container {
    padding-bottom: 30px;
  }
}

@media screen and (max-width: 680px) {
  .profile__container {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 320px) {
  .profile__container {
    padding: 0;
  }
}
