.profile {
  margin: 0;
  max-width: 880px;
  padding: 40px 200px 0 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 1050px) {
  .profile {
    flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  .profile {
    max-width: 568px;
    padding: 40px 100px 0 100px;
  }
}

@media screen and (max-width: 440px) {
  .profile {
    padding: 40px 37px 0 37px;
  }
}

@media screen and (max-width: 400px) {
  .profile {
    padding: 40px 17px 0 17px;
  }
}

@media screen and (max-width: 320px) {
  .profile {
    max-width: 282px;
    padding: 42px 19px 0 19px;
    flex-direction: column;
  }
}
