.header {
  height: 74px;
  margin: 45px 200px 0 200px;
  width: calc(100% - 400px);
  border-bottom: 1px rgba(84, 84, 84, 0.7) solid;
}

@media screen and (max-width: 1024px) {
  .header {
    width: 100%;
    margin: 0;
    padding: 28px 0 0 0;
  }
}

@media screen and (max-width: 320px) {
  .header {
    height: 56px;
  }
}
