.popup__save {
  margin: 0;
  border: none;
  width: 358px;
  background: #000;
  border-radius: 2px;
  padding: 14px 0 18px 0;
  font-family: "Inter";
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  align-self: center;
  color: #fff;
  margin-top: 48px;
  cursor: pointer;
  box-sizing: border-box;
  margin-bottom: 32px;
}

.popup__save:hover {
  opacity: 0.8;
  transition: 0.5s ease-in-out;
}

@media screen and (max-width: 500px) {
  .popup__save {
    margin-top: 45px;
    width: 238px;
    height: 46px;
    font-size: 14px;
    line-height: 17px;
  }
}
