.popup {
  height: 100%;
  position: fixed;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s, opacity 0.5s linear;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
  display: flex;
  z-index: 1;
}

@media screen and (max-width: 500px) {
  .popup {
    width: 100%;
  }
}
